.first, .second {
    font-weight: bold;
    font-size: 24px;
}

.first {
    background-color: red;
}

.second {
    background-color: green;
}

@media (min-width: 1024px) {
    body {
        display: flex;
    }
}